// ======================================================
// Abstracts :: Variables
// ======================================================


//Colors picker
$cl-red: #e7272d;
$cl-white: #fff;
$cl-black: #232323;
$cl-lightblue: #47d4ff;
$cl-smoke: #7b7b7b;
$cl-yl: #ffd71b;

//Background color
$bg-red: #e7272d;
$bg-white: #fff;
$bg-yl: #ffd71b;

//Font size
$fs-14: 14px;